body {
	width: 768px;
	margin-right: auto;
	margin-left: auto;
}

h3{
	color: white;
	font-family: Georgia;
	text-align: center;
}

.container {
	margin-top: 70px;

	width: 768px; 
	height: 1024px;  
	background-color: #043927;
	padding-left: 0px;
	padding-right:  0px;
	padding-top:  0px;
	padding-bottom:  0px; 
	position: absolute;
}

.menu{
	width: 768px;
	height: 115px;
	color: black;
}

.center{
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.center2{
	display: block;
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
}

#box1{
	margin-left: 20px; 
	margin-right: 0px;
	margin-bottom: 0px;
	width: 338px; 
	height: 529px;  
	background-color: #9DC183;
	float:left; 

}

#box2{
	margin-left: 0px; 
	margin-right: 20px;
	margin-bottom: 0px;
	width: 390px; 
	height: 270px;  
	background-color: #4F7942;
	float:right; 

}

#box4{
	margin-left: 20px;
	margin-right: 00px;
	margin-top: 0px;
	margin-bottom: 10px;
	width: 338px; 
	height: 348px;  
	position: relative;
	background-color: #D0F0C0;
	float:left;
}

#box3{
	margin-left: 0px; 
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	width: 390px; 
	height: 607px;  
	background-color: #71B238;
	float:right; 
}