body {
	width: 768px;
	margin-right: auto;
	margin-left: auto;
}

h3{
	color: white;
	font-family: Georgia;
	text-align: center;
}

a{
	color: white;
}

ul{
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 6px;
}

.container {
	margin-top: 70px;
	width: 768px; 
	height: 1024px;  
	background-color: #043927;
	position: absolute;
}

.menu{
	width: 768px;
	height: 115px;
	color: black;
}

.center{
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

#centerapp{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.centertext{
	display: block;
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 30px;
}

#box1{
	margin-left: 20px; /* pushes away from last element in the HTML. using single value will apply to all four sides*/
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	width: 358px; 
	height: 529px;  
	background-color: #71B238;
	float:left; 
}

#box2{
	margin-left: 0px; 
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 5px;
	width: 350px; 
	height: 270px;  
	background-color: #9DC183;
	float:right; 
}

#box3{
	margin-top: 20px;
	margin-left: 0px; 
	margin-right: 20px;
	margin-bottom: 0px;
	width: 350px; 
	height: 270px;  
	background-color: #4F7942 ;
	float:right; 
}

#box4{
	margin-top: 20px;
	margin-left: 20px; 
	margin-right: 20px;
	margin-bottom: 0px;
	width: 358px; 
	height: 300px;  
	background-color: #D0F0C0;
	float:left; 
}

#box5{
	margin-top: 20px;
	margin-left: 0px; 
	margin-right: 20px;
	margin-bottom: 0px;
	width: 350px; 
	height: 270px;  
	background-color: #20B2AA;
	float:right; 
}


}